.column {
  padding: 15px;
  border: 1px solid #2196f3;
  width: 300px;
  min-height: 100vh;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  width: 100%;
  max-width: 1200px;
  background: #fff;
  padding: 25px;
}